body{
  background: white;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;

}

.welcome{
  font-family: 'Montserrat', sans-serif;
  color: #393073;
  font-size: 30px;
  padding-top: 70px;
  font-weight: 600;
}

/* Navbar */
.navbar-brand{
  color: gray;
}

.navbar-brand:hover{
  color: gray;
}

a{
  color: #808588;
  padding-bottom: 0px;

}
.nav-link:hover{
  background-color: #808588;
  color: #f2f2f2;
}

.navbar{
  background-color: #bebebe;
  padding-top: 0px;
}


/* Header */
#header{
}

.container{
  height: 500px;
  width: 100%;
  background-color: white;
}

.header{
  text-align: center;
  width: 100%;
}

.para{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
   color: #808588;
}

























/* Cards */
.container-fluid{
  width: 100%;
  height: 500px;
  background-color: #e9edf6;
  padding: 50px 0px 0px 0px;
}

.first{
  display: inline;
  float: left;
  color: #bebebe;
  background-color: #f9f9f9;
  width: 27%;
  height: 400px;
  padding: 50px 50px 50px 50px;
  margin-left: 30px;
}

.second{
  display: inline;
  float: right;
  color: #bebebe;
  background-color: #f9f9f9;
  width: 27%;
  height: 400px;
  padding: 50px 50px 50px 50px;
  margin-right: 30px;
}

.third{
  display: inline;
  float: right;
  color: #bebebe;
  background-color: #f9f9f9;
  width: 27%;
  height: 400px;
  padding: 50px 50px 50px 50px;
  margin-right: 100px;
}

h4{
  padding: 50px 0px 10px 0px;
  color: grey;
  font-family: 'Baloo Tamma 2', cursive;
}
















/*
#skill-cards{
  width: 100%;
  height: 460px;
  text-align: center;
}


.first{
  display: inline;
  float: left;
  background-color: #406F8F;
  height: 450px;
  width: 340px;
  border-radius: 25px;
  margin: 0px 50px 0px 50px
}

.second{
  display: inline;
  float: right;
  background-color: #406F8F;
  height: 450px;
  width: 340px;
  border-radius: 25px;
  margin: 0px 50px 0px 50px
}


.fas{
  color: white;
  padding: 90px 0px 30px 0px;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #f9f9f9;
}

.note{
  color: white;
  font-size: 15px;
  padding: 0px 10px 0px 10px;
}

.card {
  float: left;
  background-color: #406F8F;
  height: 450px;
  width: 340px;
  border-radius: 25px;
}


.carde {
    float: right;
  background-color: #406F8F;
  height: 450px;
  width: 340px;
  border-radius: 25px;
} */

/* Footer */

#footer{
  width: 100%;
  background-color: #f9f9f9;
}

h3{
  font-family: 'Overlock', cursive;
}

.btn{
  color: #f9f9f9;
  font-family: 'Baloo Tamma 2', cursive;
  background-color: #3E9C8F;
  padding: 6px 24px 6px 24px;
}

.btn:hover{
  background-color: #406F8F;
}

.footer-img{
  color: #393073;
  padding: 20px 10px 5px 10px;
}

.footer-img:hover{
  color: grey;
}

.copyright{
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  font-size: 15px;
}

@viewport{
  width: device-width;
  zoom: 1.0;
}

@-ms-viewport{
  width: device-width;
}
/* Ideas
font-family: 'Baloo Tamma 2', cursive;
font-family: 'Maven Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Overlock', cursive;
font-family: 'Red Rose', cursive;

Color Pallete
#f2f2f2
#0B9ED9
#393073
Positioning- Top/right/bottom/left */
