body{
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px 0px 0px 0px;
    background-color: white;
}


h1{
  margin: 0px;
  padding-top: 80px;
  color: black;
  font-size: 3.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


h4{
  padding: 10px 0px 60px 0px;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

h6{
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
}


/* Title */

.title{

    /* background-color: #d9dddc; */
}

/* Navbar */

.mobilehr{
  display: none;
}

.navbar{
margin: 0px 20px;
z-index: 1;
background-color: white;
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  color: black;
  font-size: 30px;
}

.navbar-brand:hover{
  color: black;
}
.navbar-toggler {
border: none;
}

.corona{
  font-size: 17px;
  font-family: 'Pacifico', cursive;

}
.navbar-toggler-icon {
padding-top: 5px;
}
nav span{
  font-size: 25px;
}


.nav-link{
  margin: 0px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0px 0px 7px 0px;
  font-size: 17px;
  border-bottom: 2px solid transparent;
}

.nav-link:hover{
  text-decoration: none;
  color: black;
  border-bottom: 2px solid orange;
}

/* Header */

/* .big{
  font-family: 'Anton', sans-serif;
  font-size: 250px;
  position: absolute;
  color: #d9dddc;
  font-weight: 400;
  top: 0;
  bottom: 150px;
  z-index: -1;
  line-height: 1;
  filter: blur(12px);
} */

#header{
  background-color: white;
  height: 500px;
  text-align: center;
  padding:0% 0px 50px 0px;
  width: 100%;
  transform: skewY(5deg);
  /* background-image: url('../images/cloud.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center; */
}


.header{
  width: 80%;
  margin: auto;
}

.welcome{
  font-family: 'Maven Pro', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #202030;

  /* animation: pulse 1s linear ;
  animation-iteration-count: infinite; */
}

#container{
transform: skewY(-5deg);
text-align: center;
padding: 80px 0px 0px 0px;
margin-top: 60px;
}



/* Cards */




.cards{
  background-color: orange;
  padding: 60px 5% 50px 5%;
  margin: 0px;
  position: relative;
  top: -70px;
  z-index: -1;
}

.col-lg-6{
  padding:80px 5% 50px 5%;
}

.fas{
  color: #171820;
}

.pen{
  transform: rotate(135deg);
}


.note{
  font-size: 16px;
  color: white;
  padding: 0% 2%;
}



hr{
  margin-top: 0px ;
  width: 40%;
}

/* Footer */

#footer{
  width: 100%;
  background-color: #fff;
  position: relative;
  top: -13;
}



.btn{
  color: black;
 font-family: 'Montserrat', sans-serif;
font-weight: normal;
  border-color:  #171820;
  border: 2px solid;
  border-radius: 6px;
  cursor: pointer;
  width: 150px;
  padding: 9px 20px;
  margin: 9px 0px 20px 0px;
}

button .fas{
  color: black;
}

em{
  padding-right: 5px;
font-weight: bold;
}

em:hover{
    padding-right: 15px;
    transition: all 0.3s ease 0.3s;
}

.btn:hover{
  border-color: orange;
  width: 170px;
  transition: all 0.3s ease 0.3s;
}

.footer-img{
  color: #000;
  padding: 5px 12px 5px 12px;
}

.footer-img:hover{
  color: orange;
}

.copyright{
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  font-size: 12px;
  color: grey;
  padding: 0px;
}

.contact-note{
margin-bottom: 1px;
font-family: 'Montserrat', sans-serif;
padding: 30px 2% 0px 2%;
font-weight: bold;
font-size: 20px;
}






/* About Page */
.aboutpage{
  /* background-color: #d9dddc; */
  margin: auto;
}
#about{
  margin: 0px;
}
.about{
  border-left: 6px solid orange;
  text-align: left;
  padding: 0px 0px 0px 10px;
  margin: 60px 0px 0px 20px;
  width: 90%;
}
.abouth1{
  padding: 0px 0px 10px 0px;
  color: black;
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;  font-weight: bold;
}
span{
  color: orange;
}
.about-note{
    font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #202030;
}




/* Contact-Page */

#contact{
text-align: Center;
}

#contact h1{
  font-size: 3rem;
  text-align: left;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 10px;
  border-left: 6px solid orange;
  margin-top: 30px;
}
.form{
  background-color: white;
  padding: 0px;
}
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

input[type=submit]:hover {
background-color: orange;
}

/* Style the container/contact section */
.contactcontainer {
  text-align: left;
  margin: 70px 0px 0px 40px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
#row{
  padding: 0px 56px 50px 56px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/* Blog Page */

.blog h1{
  font-size: 4rem;
  text-align: center;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 10px;
  border-left: 6px solid orange;
  margin-top: 30px;
}

.blogrow{
  background-color: white;
  padding: 0px;
  margin: 80px 30px;
  /* text-align: center; */
}

.blogcol {

}

.blogpad{
  /* Add shadows to create the "card" effect */
  border: 1px grey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 350px;
  margin: 30px 0px;
  padding: 0px 10px;
}

.blogpad a{
  text-decoration: none;
    color: black;
}

.blogpad a:hover{
  text-decoration: none;

}

/* On mouse-over, add a deeper shadow */
.blogpad:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.blogrow img{
  padding-top: 20px;
  width: 80%;
}

.blogrow h4{
  padding: 40px 15px 0px 11px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: left;
}

.blogrow p{
  font-size: 15px;
  padding: 0px 15px;
  text-align: left;
}


/* ------------------------BLOGS--------------------- */

.Beginning{
  text-align: left;
}

.Beginning h2{
  font-size: 4rem;
  text-align: left;
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 0px 3px;
  border-left: 6px solid orange;
}

.Beginning p{
  text-align: left;
  font-size: 1.2rem;
  margin: 10px 30px 0px 40px;
}

#Beginningfooter{
  margin-top: 100px;
}


/* Media Query */

@media only screen and (max-width:500px) {

h1{
  padding-top: 0px;
  color: black;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h2{
  font-size: 1.6rem;
  color: orange;
}

/* .big{
  font-family: 'Anton', sans-serif;
  font-size: 100px;
  position: absolute;
  color: #d9dddc;
  font-weight: 400;
  top: 90px;
  bottom: 0;
  z-index: -1;
  filter: blur(6px);
} */

/* Navbar */

/* .collapse{
  background-color: #bcb6ae;
  padding-top: 5px;
} */

.navbar{
margin: 0px;
}

.mobilehr{
  display: block;
  width: 100%;
}
.navbar-brand{
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  color: black;
  font-size: 25px;
}


.nav-link{
  margin: 0px 10px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0px 0px 7px 0px;
  font-size: 17px;
  border: none;
}

.nav-link:hover{
  text-decoration: none;
  color: orange;
  border: none;
}

.navbar-toggler-icon {
color: black;
}
/* Header */

#header{
  margin-top: 24px;
  height: 260px;
  text-align: center;
  padding: 0px 0px 0px 0%;
  width: 100%;
}
#container{
text-align: center;
padding: 0px 0px 0px 0px;
}
.header{
  width: 90%;
  margin: auto;
}
.welcome{
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  color: #202030;
}
img{
  width: 100%;
}



/* Cards */

.note{
  padding-bottom: 0px;
}

.row{
  /* background: url('../images/dot-grid.png') repeat 0 0; */
  padding: 50px 5% 0px 5%;
  margin-bottom: 0px;
}

.col-lg-4{
  padding: 0px 0px;
}


/* -------------About_page--------------- */

.aboutpage{
  width: 100%;
}
#about{
  margin: 0px 0px 0px 0px;
}

.abouth1{
  font-size: 2rem;
}
.about{
  border-left: 6px solid orange;
  text-align: left;
  padding: 0px 10px;
  margin: 0px;
  width: 100%;
}


/* ---------Contact_page--------- */
#contact h1{
  font-size: 2rem;
  text-align: left;
  margin-left: 10px;
  padding-left: 5px;
  border-left: 6px solid orange;
}
.form{
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

.contactcontainer {
  text-align: left;
  margin: 40px 0px 0px 0px;
}


/* Blog Page */

.blog h1{
  font-size: 2rem;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 0px 6px;
  border-left: 6px solid orange;
  margin-top: 30px;
}

.blogrow{
  background-color: white;
  padding: 0px;
  margin: 50px 30px;
  /* text-align: center; */
}

.blogcol {

}

.blogpad{
  /* Add shadows to create the "card" effect */
  border: 1px grey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 300px;
  margin: 15px 0px;
  padding: 0px 10px;
}


/* On mouse-over, add a deeper shadow */
.blogpad:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.blogrow img{
  padding-top: 20px;
  width: 70%;
}

.blogrow h4{
  padding: 13px 15px 0px 12px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: left;
}

.blogrow p{
  font-size: 15px;
  padding: 0px 10px;
  text-align: left;
}



}
