body{
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  /* margin: 0px;
  padding: 0px; */
  background-color: white;
}


h6{
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
}




/* Navbar */

.mobilehr{
  display: none;
}

.navbar{
margin: 0px 20px;
z-index: 1;
background-color: white;
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  color: black;
  font-size: 30px;
}

.navbar-brand:hover{
  color: black;
}
.navbar-toggler {
border: none;
}

.navbar-toggler-icon {
padding-top: 5px;
}

nav span{
  font-size: 25px;
}


.nav-link{
  margin: 0px 10px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #171820;
  font-weight: bold;
  padding: 0px 0px 7px 0px;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.nav-link:hover{
  text-decoration: none;
  color: black;
  border-bottom: 3px solid orange;
}


/* Header */

#header{
  position: relative;
  bottom: -70px;
  background-color: white;
  height: 400px;
  text-align: center;
  padding:0% 0px 50px 0px;
  width: 100%;
  transform: skewY(5deg);
}


.header{
  width: 80%;
  margin: auto;
}

.welcome{
  font-family: 'Maven Pro', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #202030;

}

.color1{
  border-radius:   36% 64% 42% 58% / 30% 30% 70% 70% ;
  background-color: #7B96A3;
}

#container{
   transform: skewY(-5deg);
  text-align: center;
}

#container h1{
  margin: 0px;
  padding-top: 70px;
  color: black;
  font-size: 3.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


/* Cards */




.cards{
  text-align: center;
  background-color: #FFB833;
  padding: 150px 5% 50px 5%;
  margin: 0px 0px 80px 0px;
  z-index: -1;
}

.col-lg-4{
  border: 30px solid #FFB833;
  border-radius: 50px;
  padding: 80px 2% 30px 2%;
  background-color: #fff;
  width: 200;
}


.col-lg-4 h4{
  padding: 40px 0px 0px 0px;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

.fas{
  color: #171820;
}

.pen{
  transform: rotate(135deg);
}


.note{
  font-size: 17px;
  color: gray;
  padding: 5% 0% 20px 0%;
}

.view{
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.viewmore{
  padding: 10px 20px;
  background-color: #171820;
  color: white;
  border: none;
}

.arrow{
  color: white;
  padding-left: 10px;
}
.viewmore:hover{
  padding: 10px 30px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: ease-in-out 0.2s;
}


/* Portfolio */

#portfolio{
  margin: 10px 0px;
  height: auto;
  width: 100%;
  padding: 20px 40px 30px 40px;
}

.project{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding: 0px 0px 10px 0px;
  font-weight: bold;
  color: #171820;
}

.sub-project-1{
  padding: 5px 0px;
  height: 320px;
  margin-bottom: 130px;
}

.project-img{
  width: 65%;
  float: left;
}

.project-header{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: left;
  color: #171820;
  text-decoration: none;
}

.project-note{
  font-size: 1.01rem;
  text-align: left;
  color: grey;
}

.sub-project-note{
  height: 375px;
  background-color: #fefbec;
  width: 34%;
  float: left;
  margin: 0px 0px 0px 10px;
  padding: 30px 10px 10px 10px;
}

.see-all{
  font-size: 20px;
  text-decoration: underline;
}

/* Footer */

hr{
  width: 60%;
}

#footer{
  text-align: center;
  margin-top: 10px;
  padding-top: 30px;
  width: 100%;
  background-color: #fefbec;
}



.btn{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  background: linear-gradient(to left, #FFBB33, #556D77);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  width: 300px;
  padding: 10px 30px;
  margin: 8px 0px 20px 0px;
}


em{
  padding-right: 5px;
font-weight: bold;
}


.btn:hover{
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: ease-in-out 0.2s;
}

.footer-img{
  color: #171820;
  padding: 0px 12px 5px 12px;
}

.footer-img:hover{
  color: orange;
}

.copyright{
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  font-size: 14px;
  color: grey;
  padding: 0px;
}


#footer h1{
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: orange;
  margin-bottom: 0px;;
}

.contact-note{
margin-bottom: 1px;
font-family: 'Montserrat', sans-serif;
padding: 0px 2% 0px 2%;
font-weight: bold;
font-size: 20px;
color: #171820;
}






/* About Page */

#about{
  margin: 0px;
  height: 600px;
}
.about{
width: 100%;
margin: 0px;
}
.abouth1{
  margin: 30px 0px 30px 0px;
  color: black;
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;  font-weight: bold;
}
span{
  color: orange;
}
.about-note{
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #202030;
  float: left;  
  padding: 30px 0px 0px 50px;
  margin-left: 70px;
  width: 60%;
  text-align: left;
}

.img-div{  
  width: 30%;
  height: 350px;
  float: left;
  padding: 0px 15px;
}

.background{
  background-color: rgb(204, 194, 194);
  width: 250px;
  height: 300px;
  border-radius: 10px;
  margin: 0px 100px;
  z-index: -1;
}



/* Contact-Page */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
  font-family: 'roboto', sans-serif;
}

::-moz-placeholder { /* Firefox 19+ */
  color: grey;
  font-family: 'roboto', sans-serif;
}

:-ms-input-placeholder { /* IE 10+ */
  color: grey;
  font-family: 'roboto', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
  color: grey;
  font-family: 'roboto', sans-serif;
}


.contact-page-note{
  margin-bottom: 5px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  font-family: 'roboto', sans-serif;
}

#form{
  width: 1000px;
}
#contact{
text-align: Center;
}

#contact h1{
  font-size: 3rem;
  text-align: center;
  margin: 30px 0px 20px 0px;
  font-family: 'Montserrat', sans-serif;  font-weight: bold;

}
.form{
  background-color: white;
  padding: 0px;
}
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 49%;
  padding: 12px;
  border: 1px solid #ccc;
  margin: 6px 5px 16px 5px;
  float: left;
}

#subject {
  width: 99%;
  padding: 12px;
  border: 1px solid #ccc;
  margin: 6px 5px 16px 5px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 100px;
  border: none;
  cursor: pointer;
  font-family: 'roboto', sans-serif;}

input[type=submit]:hover {
background-color: #3E8E41;
text-align: center;

}

/* Style the container/contact section */
.contactcontainer {
  text-align: center;
  margin: 20px 170px 0px 170px;
}

/* Create two columns that float next to eachother */
.column {
  width: 100%;
  margin-top: 6px;
  padding: 0px;
}
#row{
  padding: 0px 56px 50px 56px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}







/* --------------Services Page-------------- */





/* Media Query */

@media only screen and (max-width:500px) {

  h2{
    font-size: 1.6rem;
    color: orange;
  }
  
  /* Navbar */
  .navbar{
  margin: 0px;
  }
  
  .mobilehr{
    display: block;
    width: 100%;
  }
  .navbar-brand{
    font-family: 'Pacifico', cursive;
    cursor: pointer;
    color: black;
    font-size: 25px;
  }
  
  
  .nav-link{
    margin: 0px 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0px 0px 7px 0px;
    font-size: 17px;
    border: none;
  }
  
  .nav-link:hover{
    text-decoration: none;
    color: orange;
    border: none;
  }
  
  .navbar-toggler-icon {
  color: black;
  }

  .times{
    color: black;
  }
  /* Header */
  
  #header{
    margin-top: 0px;
    height: 200px;
    text-align: center;
    padding: 0px 0px 0px 0%;
    width: 100%;
  }
  #container{
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  }
  
  #container h1{
    padding: 0px;
    color: black;
    font-size: 2.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .header{
    width: 90%;
    margin: 0px;
  }
  
  .welcome{
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    color: #202030;
    margin-left: 50px;
    text-align: center;
  }
  
  
  
  /* Cards */
  
  .note{
    padding-bottom: 0px;
    font-size: 15px;
  }
  
  .row{
    margin-bottom: 0px;
    background-color: orange;
  }
  
  .col-lg-4{
    border: 10px solid orange;
    margin: 20px 10px 0px 10px;
    border-radius: 25px;
    padding: 40px 5% 30px 5%;
  }

  .col-lg-4 h4{
    padding: 40px 40px 0px 40px;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
  }
  

  /* ---------------Portfolio-------------- */
  
/* Portfolio */

#portfolio{
  margin: 20px 0px;
  height: auto;
  width: 100%;
  padding: 20px 8px 20px 8px;
}

.project{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  padding: 20px 0px 10px 0px;
  font-weight: bold;
  color: #171820;
}

.sub-project-1{
  padding: 5px 0px;
  height: auto;
  margin-bottom: 0px;
}

.project-img{
width: 100%;
padding-bottom: 10px;
}

.project-header{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: left;
  color: #171820;
}

.project-note{
  font-size: 0.9rem;
  text-align: left;
  color: grey;
  margin: 0px;
}

.sub-project-note{
  height: auto;
  background-color: #fefbec;
  width: 100%;
  margin: 0px;
  padding: 10px 0px 4px 10px;
}
  

.viewmore{
  margin: 20px 0px 0px 0px;
  padding: 10px 20px;
  background-color: #171820;
  color: white;
  border: none;
}

.arrow{
  color: white;
  padding-left: 10px;
}

.viewmore:hover{
  padding: 10px 30px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: ease-in-out 0.2s;
}

  
  
  
  /* -----------FOOTER -------------*/
  
  hr{
    width: 100%;
  }

  .btn{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    width: 70%;
    padding: 10px 30px;
    margin: 9px 0px 20px 0px;
  }
  
  .btn:hover{
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: ease-in-out 0.2s;
  }
  
  
  #footer{
    margin-top: 40px;
    padding-top: 20px;
    width: 100%;
    background-color: #fefbec;
  }
  
  
  .footer-img{
    color: #171820;
    padding: 0px 12px 5px 12px;
  }
  
  .footer-img:hover{
    color: orange;
  }
  
  .copyright{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    font-size: 13px;
    color: grey;
    padding: 0px;
  }
  
  
  #footer h1{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    color: orange;
  }
  .contact-note{
  margin-bottom: 1px;
  font-family: 'Montserrat', sans-serif;
  padding: 0px 4% 0px 4%;
  font-weight: bold;
  font-size: 15px;
  }
  
  
  
  
  
/* About Page */

.portfoliobr{
  display: none;
}

#about{
  margin: 0px;
  height: 1030px;

}
.about{
  width: 100%;
  margin: 0px 0px 40px 0px;
}
.abouth1{
  margin: 30px 0px 30px 0px;
  color: #171820;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;  font-weight: bold;
}
span{
  color: orange;
}
.about-note{
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #202030;
  float: left;  
  padding: 0px 20px 0px 20px;
  margin-left: 0px;
  width: 100%;
  text-align: center;
}

.img-div{  
  width: 100%;
  height: 300px;
  float: center;
  padding: 0px 0px 0px 0px;
}

.background{
  background-color: rgb(204, 194, 194);
  width: 230px;
  height: 290px;
  border-radius: 10px;
  margin: 0px 0px 0px 57px;
  z-index: -1;
}
  
  /* ---------Contact_page--------- */
  #contact h1{
    font-size: 2.5rem;
    text-align: center;
  }

  .contact-page-note{
    margin-bottom: 5px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    font-family: 'roboto', sans-serif;
  }
  
  #form{
    width: 100%;
    margin: 0px 0px;
    text-align: center;
  }

  .form{
    padding: 0px 0px 0px 0px;
    margin: 0px;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    border: 1px solid #ccc;
    margin: 5px 0px 16px 0px;
  }

  #subject {
    width: 100%;
    border: 1px solid #ccc;
    margin: 5px 0px 16px 0px;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;

  }
  
  input[type=submit]:hover {
  background-color: #3E8E41;
  text-align: center;  
  }

  .contactcontainer {
    margin: 10px 20px 0px 20px;
  }
 
  
  
  
  }